:root {
  --primary-color: #f92524;
  --primary-color-dark: #e91a1a;
  --secondary-color: #faf9fe;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --white: #ffffff;
  --max-width: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background: #ffd6d6;
  height: 100%;
  margin: 0;
  padding: 0;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}
.header .row{
  margin-top: 45px;
}
.categories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 100%;
}
.small-container{
  width: 90%;
  margin: auto;
}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  width: 400px;
  min-width: 200px;
  margin: 0 auto 70px;
  display:inline-block ;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position:absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4{
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.rating .fa{
  color: #ff523b;
}
.col-4:hover{
  transform: translateY(-5px);
}

/* -------offer---- */
.offer{
  background: radial-gradient(#fff,#ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img{
  padding: 50px;
}
small{
  color: #555;
}

/* ---------testimonial------- */
.testimonial{
  padding-top: 100px;
}
.testimonial .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-3 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial .col-3:hover{
  transform: translateY(-10px);
}
.fa.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.col-3 p{
   font-size: 12px;
   margin: 12px 0;
   color: #777;
}
.testimonial .col-3 h3{
  font-weight: 600px;
  color: #555;
  font-size: 16px;
}
.container li::before {
  content: "\2022";
  font-size: 1.2em;
  margin-right: 5px;   
}

.container li {
  margin-bottom: 10px;
}
.list_left_bloc {
  width: 100%;
  margin: rem 0;
  padding: 6px;
  background: red;
  border: 1px solid #E1E1E1;
  border-radius: 3PX;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
.row2 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.img-thumball {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}

.row2 a{
  font-size: 25px;
  padding-top: 15px;
}








